[submodule "iterm2/catppucin"]
	path = iterm2/catppucin
	url = https://github.com/catppuccin/iterm
[submodule "nvim"]
	path = nvim
	url = https://github.com/endlesslycurious/kickstart.nvim
[submodule "cmd/catppuccin"]
	path = cmd/catppuccin
	url = https://github.com/catppuccin/windows-terminal.git
