<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="agentransack" />
  <package id="ConEmu" />
  <package id="curl" />
  <package id="dependencywalker" />
  <package id="ditto" />
  <package id="Everything" />
  <package id="Firefox" />
  <package id="fzf" />
  <package id="git" />
  <package id="graphviz.portable" />
  <package id="greenshot" />
  <package id="hxd" />
  <package id="imageglass" />
  <package id="p4" />
  <package id="p4v" />
  <package id="paint.net" />
  <package id="processhacker" />
  <package id="procmon" />
  <package id="python3" />
  <package id="ripgrep" />
  <package id="slack" />
  <package id="speedcrunch" />
  <package id="sublimetext3" />
  <package id="sysinternals" />
  <package id="vim" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="which" />
  <package id="windbg" />
  <package id="windirstat" />
  <package id="wireshark" />
</packages>
