<?xml version="1.0" encoding="utf-8"?>
<!-- Usage 'choco install Chocolatey.config -y' -->
<packages>
  <package id="ditto" />                        <!-- Clipboard manager -->
  <package id="fzf" />                          <!-- Fuzzy file finder -->
  <package id="git" />                          <!-- Git source control -->
  <package id="gsudo" />                        <!-- sudo for windows -->
  <package id="ripgrep" />                      <!-- Faster grep -->
  <package id="speedcrunch" />                  <!-- Better calculator -->
  <package id="vim" />                          <!-- text editor -->
  <package id="windirstat" />                   <!-- Hard drive space explorer -->
  <package id="zoom" />                         <!-- Video calls -->
</packages>
