<?xml version="1.0" encoding="utf-8"?>
<!-- Usage 'choco install Chocolatey.config -y' -->
<packages>
  <package id="autohotkey" />                   <!-- Fix ctrl + zoom madness -->
  <package id="git" />                          <!-- Git source control -->
  <package id="gsudo" />                        <!-- sudo for windows -->
  <package id="slack" />                        <!-- Chat utility -->
  <package id="windirstat" />                   <!-- Hard drive space explorer -->
  <package id="wireshark" />                    <!-- Network packet sniffer -->
</packages>
