<?xml version="1.0" encoding="utf-8"?>
<!-- Usage 'choco install Chocolatey.config -y' -->
<packages>
  <package id="7zip" />                         <!-- File compression utility -->
  <package id="anki" />                         <!-- Flash cards -->
  <package id="beyondcompare" />                <!-- Difference tool -->
  <package id="cloc" />                         <!-- Count lines of code -->
  <package id="crystaldiskinfo" />              <!-- Disk benchmark -->
  <package id="curl" />                         <!-- CLI URL utility -->
  <package id="ditto" />                        <!-- Clipboard manager -->
  <package id="Firefox" />                      <!-- Firefox web browser -->
  <package id="furmark" />                      <!-- GPU stress test -->
  <package id="fzf" />                          <!-- Fuzzy file searching CLI -->
  <package id="git" />                          <!-- Git source control -->
  <package id="googledrive" />                  <!-- Google drive file system -->
  <package id="graphviz.portable" />            <!-- Graphing tools -->
  <package id="greenshot" />                    <!-- Screenshot utility -->
  <package id="gsudo" />                        <!-- sudo for windows -->
  <package id="hxd" />                          <!-- Hex editor -->
  <package id="imageglass" />                   <!-- Image viewer -->
  <package id="insomnia-rest-api-client" />     <!-- REST API client -->
  <package id="lastpass" />                     <!-- Password manager -->
  <package id="logioptionsplus" />              <!-- Keyboard/Mouse setup -->
  <package id="mongodb" />                      <!-- MongoDB database -->
  <package id="mongodb-compass" />              <!-- MongoDB GUI -->
  <package id="mongodb-shell" />                <!-- MongoDB CLI -->
  <package id="ntop.portable" />                <!-- htop clone -->
  <package id="opera" />                        <!-- Opera web browser -->
  <package id="paint.net" />                    <!-- Image editor -->
  <package id="prime95" />                      <!-- CPU stress test -->
  <package id="python3" version="3.10.6"/>      <!-- Python scripting language: P4Python doesn't support 3.10 yet.. -->
  <package id="ripgrep" />                      <!-- Faster grep -->
  <package id="rode-central" />                 <!-- Microphone utility -->
  <package id="skype" />                        <!-- Video chat -->
  <package id="slack" />                        <!-- Chat utility -->
  <package id="speedcrunch" />                  <!-- Calculator replacement -->
  <package id="steam" />                        <!-- Steam games library -->
  <package id="sysinternals" />                 <!-- Microsoft utility collection -->
  <package id="vim" />                          <!-- Vim text editor -->
  <package id="vlc" />                          <!-- Video viewer -->
  <package id="vscode" />                       <!-- VS Code IDE -->
  <package id="windirstat" />                   <!-- Hard drive space explorer -->
  <package id="xmind" />                        <!-- Mind mapping -->
  <package id="zoom" />                         <!-- Video calls -->
</packages>
